* {
    margin: 0;
    padding: 0;
}

.container {
    margin-left: 15.33333%;
    margin-right: 15.33333%;
}

header {
    background-color: azure;
    height: 50px;
    display: flex;
    align-items: center;
}

button {
    padding: 5px 30px;
    background-color: powderblue;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
}

.products {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.product-item {
    background-color: aliceblue;
}

.product-item h3 {
    padding: 10px;
}

.product-item p {
    padding: 10px;
}